@import '../../style/variables.scss';

.gallery{
    max-width: 260px;
    border: 2px solid $dark-green;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    img {
        width: 85px;
        height: 110px;
        cursor: pointer;
        object-fit: contain;
        &:hover{
            box-shadow: 1px 2px 7px 0px $green;
        }
    }
    img:nth-child(1) {
        border-radius: 20px 0 0 0;
    }
    img:nth-child(3) {
        border-radius: 0 20px 0 0;
    }
    img:nth-child(4) {
        border-radius: 0 0 0 20px;
    }
    img:nth-child(6) {
        border-radius: 0 0 20px 0;
    }
}